runpod==1.7.0
accelerate
safetensors
diffusers
transformers
huggingface-hub
pillow
numpy
fastapi
uvicorn[standard]
hf_transfer
https://github.com/nunchaku-tech/nunchaku/releases/download/v1.0.1/nunchaku-1.0.1+torch2.7-cp310-cp310-linux_x86_64.whl ; sys_platform == "linux"
https://github.com/nunchaku-tech/nunchaku/releases/download/v1.0.1/nunchaku-1.0.1+torch2.8-cp312-cp312-win_amd64.whl ; sys_platform == "win32"
